@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1280px) {
  .max-w-7xl {
    max-width: 88rem;
  }
}

@media (min-width: 1536px) {
  .max-w-7xl {
    max-width: 92rem;
  }
}

main > section:first-of-type > div > div > p:nth-of-type(2),
#solutions article p:last-child,
#spaces article p,
#products article > div:last-child > div > p:last-child,
#about > div > div:first-child > p:nth-of-type(2),
#contact > div > div:last-child > p:last-of-type {
  font-size: 1rem;
  line-height: 1.75;
}

@media (min-width: 1024px) {
  #products > div > div:last-child > article:not(:first-child) > div:last-child {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  #products > div > div:last-child > article:not(:first-child) a {
    margin-top: 1.5rem;
  }
}

#products > div > div:last-child > article:first-child {
  transform: scale(0.95);
  transform-origin: left top;
}

#products > div > div:last-child > article:first-child > div:first-child > div {
  aspect-ratio: 16 / 8.5;
}

#products > div > div:last-child > article:first-child > div:last-child {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

#products > div > div:last-child > article:nth-child(2) {
  margin-block-start: 1.75rem !important;
}

@media (min-width: 1024px) {
  #products > div > div:last-child > article:first-child > div:last-child {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  #products > div > div:last-child > article:nth-child(2) {
    margin-block-start: 2.5rem !important;
  }
}
